parameters:
  level: 5
  paths:
    - app
    - routes
    - config
    - tests

  treatPhpDocTypesAsCertain: false

  ignoreErrors:
        - message: '#Variable \$router might not be defined#'
          path: routes/api.php
